# HTID:11140116: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11140116:
ErrorDocument 404 https://smartbuzzcrypto.com/404/

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
